.todo {
    width: 650px;
    margin: 0 auto;
    margin-top: 80px;

    &_input {
        width: 600px;
        height: 70px;
        margin: 0 auto;
        display: flex;
        background-color: white;
        box-shadow: 0 0 5px silver;

        & input {
            width: 100%;
            font-size: 30px;
            padding: 0 10px;
            border: none;
            outline: none;

            &::placeholder {
                color: silver;
                transform:skew(-15deg);
            }
        }

        &-open {
            width: 80px;
            border: none;
            background-color: transparent;

            & svg {
                width: 90%;
                height: 100%;

                & path {
                    fill: silver;
                }
            }

            &:active {

                & svg path {
                    fill: rgb(156, 156, 156);
                }
            }
        }
    }

    &_title {
        text-align: center;
        font-size: 100px;
        font-weight: 100;
        margin: 0px;
        color: rgb(193, 180, 180);
    }

}
