@mixin styleForButton($color) {
    font-size: 16px;
    margin: 0px 3px;
    padding: 4px 6px;
    border: 2px solid $color;
    color: silver;
    background-color: transparent;
  }



.todo-tab {
    position: relative;
    width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 5px silver;

    &-close {
        display: none;
    }

    &_list {
        overflow: auto;
        max-height: 284px;
    }
    
    &_button {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        font-weight: 400;
        padding: 10px 10px;
        color: silver;

        &-tab {
            @include styleForButton(transparent);

            &-active {
                @include styleForButton(rgb(214, 190, 190));
                border-radius: 3px;
            }
        }

        &-clear {
            font-size: 16px;
            border: none;
            color: silver;
            background-color: transparent;

            &:active {
                color: rgb(156, 156, 156);
            }
        }
    }
}