%stylesForText {
    max-width: 80%;
    font-size: 30px;
    margin: 0;
    padding: 0 10px;
    font-weight: 100;
}

%stylesForButton {
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 50%;
    border: 2px solid silver;
    background-color: transparent;
}


.todo-string {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid silver;

    &_text {
        @extend %stylesForText;

        &-active {
            @extend %stylesForText;
            text-decoration: line-through;
            color: silver;
        }
    }

    &_button {
        @extend %stylesForButton;

        &-active {
            @extend %stylesForButton;

            & svg {
                width: 80%;
                height: 100%;
    
                 & path {
                    fill: green;
                 }
            }
        }
    }
}